.add-project-name {
  display: inline;
  padding-right: 5px;
  padding-left: 20px;
}

.edit-project-name {
  display: inline;
  padding-right: 5px;
}

.project-name {
  display: inline;
  padding-right: 40px;

}

.board-user-story-header {
  background-color: #673ab7;
  color: #ffffff;
}

.mat-card-title {
  margin-bottom: 10px;
  margin-top: 10px;
}


.backlog-sprint {
  margin-top: 20px;
  margin-bottom: 20px;
}

.board-item {
  height: 200px;
  width: 260px;
  margin-bottom: 20px;
  /*display: inline;*/
}

.board-user-story-header {
  background-color: #673ab7;
  color: #ffffff;
}
