.board-item {
  height: 200px;
  width: 300px;
}

.mat-select-board-item {
  border: 1px solid tomato;
  width: 60px;
}

.mat-grid-tile-header .mat-grid-tile {
  background-color: red;
}

.mat-card-title {
  margin-bottom: 10px;
  margin-top: 10px;
}


.board-item-title {
  background-color: khaki;
  /*border: 1px solid tomato;*/
  /*width: 60px;*/
}

.board-column-header {
  background-color: khaki;
  /*border: 1px solid tomato;*/
  /*width: 60px;*/
}

.mat-grid-tile-border {
  min-height: 800px;
  border-right: 1px solid lightslategray;
}

.owner {
  padding-top: 10px;
}

.status-dropdown {
  margin-top: 20px;
  width: 115px !important;
  height: 33px !important;
}

.board-col-header {
  border-bottom: 2px solid crimson;
}
