.board-item {
  height: 200px;
  width: 300px;
  margin-bottom: 20px;
}

.board-item-title {
  background-color: #ffd740;
}

.board-add-new-item{
  text-align: right;
}

.mat-card-title {
  margin-bottom: 10px;
  margin-top: 10px;
}

.board-column {
  border-right: solid 2px black;
}

.board-column-header {
  background-color: #9fbc84;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.owner {
  padding-top: 10px;
}
