.board-item {
  height: 200px;
  width: 260px;
  margin-bottom: 20px;
}

.board-user-story-header {
  background-color: #673ab7;
  color: #ffffff;
}

.board-task-header {
  background-color: #ffd740;
  color: #000000;
}

.board-add-new-item {
  text-align: right;
}

.mat-card-title {
  margin-bottom: 10px;
  margin-top: 10px;
}

.mat-card-header {
}

.mat-card {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0px;
}

.mat-card-content {
  padding-bottom: 24px;
}

.board-column {
  border-right: solid 2px black;
}

.board-column-header {
  background-color: #9fbc84;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.owner {
  padding-top: 10px;
}

/*---- two divs side-by-side*/
.wrapper-div {
  width: 100%;
}

.div-one {
  margin-left: 1px;
  float: right;
}

.div-two {
}
